#item-button {
    width: 5vw;
    height: 3vw;
    background-color: grey;
    color: white;
    border: 5px solid #ffffff;
    border-radius: 20px;
    position: fixed; 
    z-index: 99999;
    cursor: pointer;
  }
  .center {
    z-index: 99999;
    margin: auto;
    width: 60%;
    color: white;
    font-size: 1vw;
    top:70%;
    margin: 0;
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #artifact-area {
    z-index: 99999;
    margin: auto;
    width: 70%;
    height: 20%;
    color: white;
    font-size: 1vw;
    top:30%;
    margin: 0;
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }